Flask>=2.2
Werkzeug
Flask-Session        # om man väljer server-side sessions (valfritt)
flask-talisman       # för säkra headers (valfritt)
python-dotenv        # för inläsning av känsliga miljövariabler
PyJWT                # för JWT-hantering
